name: Build KamiKnows

on: push

jobs:
  build:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]

    steps:
      - name: Install g++-multilib
        if: matrix.os == 'ubuntu-latest'
        run: sudo apt update && sudo apt install g++-multilib

      - name: Checkout
        uses: actions/checkout@v2

      - name: Setup Node
        uses: actions/setup-node@v1
        with:
          node-version: '16.13.1'

      - name: Install dependencies
        run: npm i

      - name: Install TypeScript
        run: npm i typescript -g

      - name: Build TypeScript
        run: tsc

      - name: Build and release if draft exists
        run: npm run dist
        env:
          GH_TOKEN: ${{ secrets.WORKFLOW_TOKEN }}
